.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.smurf_card{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
}
.App >div:nth-of-type(1){
  width: 70%;
}
.App >div:nth-of-type(2){
  width: 30%;
  padding: 20px;
  text-align: left;
}
.App >div:nth-of-type(2) input{
  outline: none;
  font-size: 16px;
}
.App >div:nth-of-type(2) button{
  outline: none;
  font-size: 16px;
}

